nav{
    background-color: rgb(208, 249, 208);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 2rem 0 2rem ;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


input{
    border-radius: 10px;
    padding: 0.3rem;
    margin: 0.5rem;


}


.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid rgb(101, 212, 101);
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
    margin: 2rem;
  }
  

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }